@import "../../lib/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap";

$anchira-danger-color: #d9534f !default;
$anchira-background-white: #f5f5f5 !default;
$anchira-background-grey: #e1e1e1 !default;
$anchira-sky-color: #9fbede !default;
$anchira-sun-color: #f8e5be !default;

$base-text-color: #2a3439 !default;
$highlight-text-color: #f5f5f5 !default;

//$base-text-color: #2a3439;
$base-font-size: 16px;
$base-font-family: source-sans-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-weight: 400;


.progress-bar-custom {background: $anchira-danger-color;}
#message {
  white-space: pre;
}

.garbage {
  display: none;
}

#contents {
  //display: none;
}
#wait-body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 200px;
}
.sky-panel {
  @extend .panel;
  max-height: 50%;
  color: white;
  padding: 20px;
  background-color: $anchira-sky-color;
}


body {
  margin: 0px;
  padding: 20px;
  background: #9adde5;
  font-family: arial, sans-serif;
  font-size: 10pt;
  line-height: 15pt;
}

#icons {
  display: inline-block;
}

.icon{
  color: white;
  margin-top: 8px;
  padding-left: 10px;
  //background-color: black;
  width: 30px;
  height: 25px;
  margin-bottom: -10px;
  font-size: 18px;
  
  //display: inline-block;
}
.tooltip {
  position: fixed !important;
}
.tooltip.in {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}


.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: $base-text-color;
  border-width: 5px 5px 0;
}
.tooltip.bottom .tooltip-arrow {

  left: 50%;
  margin-left: 0px;
  border-bottom-color: $base-text-color;
  border-width: 0 5px 5px;
}
.tooltip-inner {
  color: $anchira-background-white;
  background: $base-text-color;
  font-size: $base-font-size;
  white-space: pre;
  max-width: none;
  //border: solid 1px #fff;
}
// .tooltip.top .tooltip-arrow {
//   bottom: 0;
//   left: 50%;
//   margin-left: -5px;
//   border-top-color: #fff;
//   border-width: 5px 5px 0;
// }

.open-url {
  cursor: pointer !important;
}
#time-zone {
  cursor: pointer !important;
}

#contents {
  display: block;
  width: 100%;
}
@mixin circle-icon($color) {
  @extend .img-circle;
  position: relative;
  margin-left: 5px;
  height: 20px;
  width: 20px;
  display: inline-block;
  background-color: $color;
}

.history {
  float: left;
  margin: 0px;
  padding: 0px;
  list-style: none;
  overflow: hidden;
  width: 30%;
  border-radius: 10px 0 0 10px;
  background: #555;
}

.history li {
  border-bottom: 1px solid #000;
  margin-bottom: 1px;
  text-align: left;
  padding: 0px;
}

#contents li:last-child {
  margin-bottom: 0px;
  border-bottom: 0px;
}

#contents li a {
  display: block;
  font-size: 14pt;
  color: #fff;
  text-decoration: none;
  padding: 7%;
  background: #57cac9;
  background: -webkit-linear-gradient(top, #444, #333);
  background: -moz-linear-gradient(top, #444, #333);
}

#contents li a.selected {
  background: #fff;
  color: #000;
}

.parser-container {
  display: block;
  background: #fff;
  width: 80%;
  min-height: 500px;
}

#contents div .battle-data {
  display: none;
  margin: 0px;
  color: #555;
  padding: 10px 3% 3% 3%;
}

#contents div div p {
  margin: 0px 0px 20px 0px;
}

@media screen and (max-width: 781px) {
  .parser-container {
    display: block;
    margin: 0 auto;
    width: 95%;
    border-top: none;
    border-radius: 0;
    box-shadow: 0px 0px 10px black;
  }

  .d_active {
    background: #fff;
  }
}

.history {
  display: none;
}

// style accordion links
/*.tab_drawer_heading {
  margin: 0;
  font-size: 14pt;
  color: #fff;
  text-decoration: none;
  padding: 3%;
  background: #57cac9;
  background: -webkit-linear-gradient(top, #444, #333);
  background: -moz-linear-gradient(top, #444, #333);
}*/

@media screen and (min-width: 480px) {
  .parser-container {
    float: left;
    padding: 10px 3% 3% 3%;
    border-radius: 0 10px 10px 0;
    width: 64%;
  }

  .history {
    display: block;
  }

  /*.tab_drawer_heading {
    display: none;
  }*/

  div {#contents {
  display: block;
  width: 100%;
}
@mixin circle-icon($color) {
  @extend .img-circle;
  position: relative;
  margin-left: 5px;
  height: 20px;
  width: 20px;
  display: inline-block;
  background-color: $color;
}

.history {
  float: left;
  margin: 0px;
  padding: 0px;
  list-style: none;
  overflow: hidden;
  width: 30%;
  border-radius: 10px 0 0 10px;
  background: #555;
}

.history li {
  border-bottom: 1px solid #000;
  margin-bottom: 1px;
  text-align: left;
  padding: 0px;
}

#contents li:last-child {
  margin-bottom: 0px;
  border-bottom: 0px;
}

#contents li a {
  display: block;
  font-size: 14pt;
  color: #fff;
  text-decoration: none;
  padding: 7%;
  background: #57cac9;
  background: -webkit-linear-gradient(top, #444, #333);
  background: -moz-linear-gradient(top, #444, #333);
}

#contents li a.selected {
  background: #fff;
  color: #000;
}

.parser-container {
  display: block;
  background: #fff;
  width: 80%;
  min-height: 500px;
}

#contents div div {
  display: none;
  margin: 0px;
  color: #555;
  padding: 10px 3% 3% 3%;
}

#contents div div p {
  margin: 0px 0px 20px 0px;
}

@media screen and (max-width: 781px) {
  .parser-container {
    display: block;
    margin: 0 auto;
    width: 95%;
    border-top: none;
    border-radius: 0;
    box-shadow: 0px 0px 10px black;
  }

  .d_active {
    background: #fff;
  }
}

.history {
  display: none;
}

// style accordion links
/*.tab_drawer_heading {
  margin: 0;
  font-size: 14pt;
  color: #fff;
  text-decoration: none;
  padding: 3%;
  background: #57cac9;
  background: -webkit-linear-gradient(top, #444, #333);
  background: -moz-linear-gradient(top, #444, #333);
}*/

@media screen and (min-width: 480px) {
  .parser-container {
    float: left;
    padding: 10px 3% 3% 3%;
    border-radius: 0 10px 10px 0;
    width: 64%;
  }

  .history {
    display: block;
  }

  /*.tab_drawer_heading {
    display: none;
  }*/

  div {
    padding: 0;
  }
}
    padding: 0;
  }
}


.vertical-table {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 94px;
  padding: 1px;
}
.vertical-table-small {
  @extend .vertical-table;
  height: 48px;
}

.table {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 1px;
}

//.vertical-table-4 { @include vertical-table(4); }
//.vertical-table-3 { @include vertical-table(3); }
// .active-circle-icon {
//   @include circle-icon($anchira-danger-color);
//   z-index: 2;
// }
// .inactive-circle-icon {
//   @include circle-icon($anchira-background-grey);
//   z-index: 1;
// }

.white-panel {
  @extend .panel;
  margin: 3px 1px;
  vertical-align: top;
  display: inline-block;
  background-color: $anchira-background-white;
}
.container {
  @extend .img-rounded;
  // bottom: 0;
  // top: 200px;
  // position: absolute;
  position: absolute;
  overflow: hidden;
  //height: 100%;
  top: 202px;
  bottom: 0;
  margin: 5px;
  width: 390px;
  background-color: $anchira-background-white;
}
.scroll-pane {
  @extend .tab-pane;
  position: absolute;
  top: 50px;
  bottom: 10px;
  right: 10px;
  left: 10px;
  overflow-y: hidden;
  overflow-x: hidden;

  .tab-tab-pane {
    top: 75px;
    bottom: 50px;
    right: 0px;
    left: 0px;
  }
}
.scroll-pane-2 {
  @extend .tab-pane;
  position: absolute;
  top: 50px;
  bottom: 10px;
  right: 10px;
  left: 10px;
  padding-left : -40px !important;
  overflow-y: hidden;
  overflow-x: hidden;
}

.tab-tab-pane {
  @extend .tab-pane;
  position: absolute;
  top: 50px;
  bottom: 10px;
  right: 10px;
  left: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

svg{
  //display:block;
  position: absolute;
  z-index: 10;
  width:100%;
  height:auto;
  margin:0 auto;
}
path{
  fill:#E3DFD2;
}

.collapse-default {
  background-color: $anchira-background-white;
  margin-top: 0px !important;
  margin-bottom: 10px !important;
}

.footer {
  padding-bottom: 0;
  padding-top: 0;
}
.col {
  padding-right:7px;
  padding-left:7px;
}
.panel {
  //max-width: 330px;
  //max-height: 140px;
}

.panel-heading-new {
  @extend .panel-heading;
}

.panel-body-new {
  @extend .panel-body;
  margin: 3px;
}
.panel > .panel-heading {
  background-image: none;
  background-color: $anchira-sun-color;
  //color: dimgrey;
  //color: white;
}

.buttonPanel {
  @extend .panel;
  background-image: none;
  background-color: $anchira-sun-color;
}

.sky .active a, .sky .active a:hover {
  background-color: $anchira-sky-color !important;
  
}
.nav-pills >li > a {
  padding: 4px 0px;
  text-align: center;
  color: $base-text-color !important;
}

.nav-tabs >li > a {
  color: $base-text-color !important;
}
.nav-pills-supply >li:nth-child(2) {
  margin-left: 0 !important;

}

.nav-pills-supply >li {
  margin-top: 2px !important;
  width: 60px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
  background-color: $anchira-background-white !important;
}
.nav-tabs > li > a:hover {
  background-color: $anchira-background-white !important;
}

.form-group {
  margin-bottom: 0px !important;
  margin-left: 0px !important;

  float: right;
  width: 310px;
}

.nav-pills-daily >li {
  width: 80px;
  margin-bottom: 10px !important;
}

.nav-pills > li.active > a {
    color: $highlight-text-color !important;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover {
  background-color: $anchira-sky-color !important;
}
.nav-pills > li > a:hover {
  background-color: $anchira-sky-color !important;
  color: $highlight-text-color !important;
}

.nav-tabs > li > a {
  padding: 8px 0px;
  text-align: center;
}
.nav-tabs > li {
  width: 120px;
}

.thumbnail {
  position: relative;
  width: 80px;
  height: 40px;
  margin-bottom: -5px;
  overflow: hidden;
}

.thumbnail-small {
  position: relative;
  margin-bottom: -5px;
  overflow: hidden;
  width: 29px;
  height: 29px;
}
.thumbnail-small img.landscape {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width:  100%;
  transform: translate(-50%,-50%);
}

.thumbnail img.landscape {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  //height: 200%;
  // height: 200%;
  // width: auto;
  //width: 200%;
  transform: translate(-50%,-50%);
}
.thumbnail-square {
  //@extend .img-rounded;
  margin-top: 1px;
  position: relative;
  width: 26px;
  height: 34px;
  overflow: hidden;
}
.thumbnail-square img.square {
   position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%,-50%);
}

.hide {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

.dropdown-toggle, .dropdown-toggle:hover, .dropdown-toggle:active, .open .dropdown-toggle{
    width: 120px !important;
      background-color: $anchira-sky-color !important;
  border-color: $anchira-sky-color !important;
  outline: none !important;
  box-shadow: none !important;
}

.dropdown {
  display: inline-block;
}
.dropdown-menu {
  min-width: 120px !important;
}
.dropdown-row-bottom {
  margin-left: 124px;
  margin-top: 5px;
}
.dropdown-last {
  margin-left: 1px;
}
#planner-panel {
  height: 100%;
  width: 400px;
}
#supplies-panel {
  height: 100%;
}

#supplies-all {
  margin-left: 6px;
  // margin-left: -8px;
  // margin-right: -4px;
  // margin-top: 20px;
  // height: 100%;
}


.supplies-tab-pane {
  @extend .tab-pane;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
}